caption {
    caption-side: top;
}
th {
    text-align: center;
}
th:nth-child(1), th:nth-child(2), th:nth-child(3){
    text-align: left;
}
td {
    text-align: center;
}
td:nth-child(1), td:nth-child(2), td:nth-child(3){
    text-align: left;
}
.table > tbody > tr > td {
    vertical-align: middle;
}
.btn-group {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;

}
footer p {
    text-align: center;
}